[gcode_macro FILAMENT_UNLOAD]
gcode:
    {% set unload = params.U|default(100)|float %}
    {% set extruder_temp = params.T|default(240)|float %}
    SAVE_GCODE_STATE NAME=FILAMENT_UNLOAD_STATE
    LOW_TEMP_CHECK T={extruder_temp}
    M117 Unloading filament
    M83                                                                         # relative extrusion
    G1 E2  F200                                                                 # extrude a little
    _FILAMENT_BALL WAIT=3
;    G1 E-10  F200                                                               # retract a little
    G1 E-10  F1500                                                               # retract a little
    G1 E-{unload} F1500                                                         # retract a lot
;    BEEP
    RESTORE_GCODE_STATE NAME=FILAMENT_UNLOAD_STATE

[gcode_macro FILAMENT_LOAD]
gcode:
    {% set load = params.L|default(100)|float * 0.5 %}
    {% set extruder_temp = params.T|default(240)|float %}
    SAVE_GCODE_STATE NAME=FILAMENT_LOAD_STATE
    LOW_TEMP_CHECK T={extruder_temp}
    M117 Loading filament
    M83                                                                         # relative extrusion
;    G1 E{load} F1500                                                            # extrude fast
    G1 E{load} F200                                                            # extrude fast
;    G4 P1000                                                                    # wait 1 second
    G1 E{load} F200                                                             # extrude slow
    G1 E30 F200                                                                 # purge - add 2021-11-08
;    BEEP
    RESTORE_GCODE_STATE NAME=FILAMENT_LOAD_STATE

[gcode_macro LOAD_FILAMENT]
gcode:
    FILAMENT_LOAD

[gcode_macro UNLOAD_FILAMENT]
gcode:
    FILAMENT_UNLOAD

[gcode_macro FILAMENT_CHANGE]
gcode:
    SAVE_GCODE_STATE NAME=FILAMENT_CHANGE_STATE
    {% set timer = params.T|default(30)|float %}
    {% set unload = params.U|default(100)|float %}
    {% set load = params.L|default(100)|float %}
    {% if printer.pause_resume.is_paused %}
        M117 Already paused
    {% else %}
        {% if printer.toolhead.homed_axes != "xyz" %}
            M117 Homing
            G28                                                                 # home if not homed
        {% else %}
            M117 Pausing print
            PAUSE
        {% endif %}
    {% endif %}
    M117 Changing filament
    SET_IDLE_TIMEOUT TIMEOUT=7200
    FILAMENT_UNLOAD U={unload}
    COUNTDOWN TIME={timer} MSG="Change filament! Time left: "
    FILAMENT_LOAD L={load}
    RESTORE_GCODE_STATE NAME=FILAMENT_CHANGE_STATE
    {% if printer.pause_resume.is_paused %}
        M117 Resuming print
        RESUME
    {% endif %}

[gcode_macro _FILAMENT_BALL]
description: Helper: Round the filament tip
gcode:
  ##### set default parameter value #####
  {% set wait = params.WAIT|default(0) %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=STATE_FILAMENT_BALL
  # Ball up the filament tip
  # G92 E0       ; zero the extruder
  # M82          ; absolute extrusion
  # G1 E2 F3600
  # G1 E0 F3600
  # G1 E4 F3600
  # G1 E0 F3600
  # G1 E8 F3600
  # G1 E0 F3600
  # M83          ; relative extrusion
  # G1 E-25 F3600
  # G4 P{wait|int * 1000}
  
  M83
  G92 E0   ; zero the extruder  M83      ; relative extrusion
  G1 E2 F900
  G1 E-2  F900
  G1 E4 F900
  G1 E-4 F900
  G1 E8 F900
  G1 E-8 F900
  G1 E-25 F900
  G4 P{params.WAIT|default(0)|int * 1000}
  M82
  RESTORE_GCODE_STATE NAME=STATE_FILAMENT_BALL